.info {
    fill: #0d6efd;
}

.error {
    fill: #dc3545;
}

.success {
    fill: #198754;
}

.warning {
    fill: #ffc107;
}

.show {
    display: block !important;
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.show:hover {
    background-color: #f8f9fa;
}

.hide {
    animation: slideOut 0.5s ease-in-out;
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}